.container {
  max-width: 500px;
  height:550px;
}
.container3 {
  max-width: 385px;
  height:470px;
}
.container5 {
  height: 600px;
  max-width: 500px;
}
.container3 p{
  font-size: 110%;
}
.container2, .container4 {
  max-width: 385px;
  height:470px;
}
.container p, .container2 p, .container4 p, .container5 p{
  font-size: 120%;
}
.list {
  list-style-type: upper-alpha;
  margin-bottom: 5px;
}
.bold {
  font-weight: bold;
  color: black;
}
/* for ipad devices */
@media only screen and (max-width: 768px) {
  .container {
    height: 480px;
  }
  .container3 {
    height: 520px;
  }
  .container4 {
    height: 550px;
  }
  .container2 span, .container3 span , .container4 span .container5 span {
    font-size: 120%;
  }
}