.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.image {
  padding: 20px;
  margin: 30px 5px 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.image  img {
  width: 95%;;
}
.image > div {
  width: 100%;
}
.map {
  height: 300px;
  width: 50vw;
}
/* front3.png */
.hero {

}
.header {
  /* color: gold !important; */
  /* width: 40vw; */
  /* border: black 3px solid;
  border-radius: 25px; */
  align-self: center;
  margin-top: 50px;
  /* background-color: #444; */
  background-color: #e7e5d9;
  color:#c3c1ac;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* for ipad  Pro devices */
@media only screen and (max-width: 1200px) {
  .hero {
    width: 90%;
    height: 500px;
    background-size: cover;
    align-self: center;
    padding: 5px 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header {
    width: 90%;
    border: none;
    font-size: 250%;
  }
  .map {
    width: 90%;
  }
  .image {
    width: 100%;
    padding: 2px;
    margin: 2px;
  }
  .hero {
    margin-bottom: 20px;
  }
}
/* for smaller devices */
@media only screen and (max-width: 768px) {
  .container {
    background-image: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .row > div {
    margin-bottom: 10px;
  }
  .image {
    margin: 20px;
    max-width: 387px;
    background-color: black;
    padding: 0;
    width: 95%;
  }
  .image > img {
    max-height: 90%;
  }
  .hero {
    display: none;
  }
  .map {
    width: 90vw;
    height: 40vh;
  }
  .header {
    width: 90vw;
    border: none;
    background: none;
    color: gold;
    font-size: 200%;
  }
  .gold {
    border: none;
    display: block;
  }
  .header > h2 {
    display: none;
  }
}