.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.image {
  padding: 20px;
  margin: 30px 0 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image  img {
  width: 95%;;
}
.image > div {
  width: 100%;
}
.map {
  height: 300px;
  width: 50vw;
}
.hero {
  width: 98vw;
  height: 40vw;
  background: url("https://amu-images.s3.us-east-2.amazonaws.com/front/boat_1200.png") lightskyblue center no-repeat;
  align-self: center;
  padding: 5px 0;
}
.header {
  color: bisque;
  /* width: 40vw; */
  /* padding: 10px; */
  /* border: black 3px solid;
  border-radius: 25px; */
  align-self: center;
  margin: 10px;
  /* background-color: rgb(8, 8, 153); */
  font-family: 'Tangerine', cursive;
  font-size: 300%;
  color: rgb(8, 8, 153);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* for ipad  Pro devices */
@media only screen and (max-width: 1100px) {
  .header {
    width: 90%;
    border: none;
    font-size: 250%;
  }
  .map {
    width: 90%;
  }
  .image {
    width: 100%;
    padding: 2px;
    margin: 2px;
  }
  .hero {
    margin-bottom: 20px;
  }
}
/* for smaller devices */
@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .row > div {
    margin-bottom: 10px;
  }
  .image {
    margin: 20px;
    width: 90vw;
    background-color: lightskyblue;
  }
  .image > img {
    max-height: 90%;
  }
  .hero {
    display: none;
  }
  .map {
    width: 90vw;
    height: 40vh;
  }
  .header {
    width: 90vw;
    border: none;
    background: none;
    color: rgb(8, 8, 153);
    font-size: 200%;
  }

}