.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.has-error {
  border: 1px solid red;
}
.text-error {
  color: red;
}
.button {
  width: 200px;
  margin: 10px;
}
.formTitle {
  text-align: center;
  color: #5a3166;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: darkblue;
  max-width: 400px;
}

.container {
  background-color: whitesmoke;
}
.chip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media only screen and (max-width: 612px) {
  .container {
    padding-bottom: 20px;
    width: 95%;
  }
  .title {
    width: 250px !important;
  }
}