.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #222;
  padding: 50px;
  color: gold;
}
a {
  color: gold;
  text-decoration: none;
}
.drawer {
  background-color: #222;
}
.drawer > div {
  align-self: flex-start;
}
.isActive {
  color: orangered;
  font-weight: bold;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 250px;
  background-color: #222;

}
.logo {
  flex-basis: 10%;
}
.logo img {
  max-width: 90px;
  padding-top: 10px;
}
.links {
  flex-grow: 1;
  align-items:center;
  display: flex;
  justify-content: space-evenly;
}
.links span {
  font-size: 110%;
  font-weight: bold;
}
/* for smaller devices */
@media only screen and (max-width: 768px) {
  .big_screen {
    display: none;
  }
  .list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 769px) {
  .mobile_only {
    display: none;
  }
}