.container {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map {
  margin-top: 40px;
  width: 40vw;
  height: 30vw;
}
@media only screen and (max-width: 600px) {
  .map {
    margin-top: 20px;
    width: 90vw;
    height: 100vw;
  }
}