.container {
  /* margin: 100px 10px 50px 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.container >div {
  margin-top: 50px;
}
/* for ipad  Pro devices */
@media only screen and (max-width: 1450px) {
  .container{
    justify-content: space-evenly;
  }
  .container >div {
    margin-top: 0;
  }
}