.container {
  background-color: #444;
  padding: 20px;
  color: gold;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #444;
  padding: 20px 100px;
  color: gold;
}
.address span {
  font-size: 1.3rem;
  font-family: 'Gloria Hallelujah', cursive;
}
.address p {
  font-size: 1.5rem;
}
.content svg {
  fill: gold !important;
}
.content span {
  color: gold !important;
}
.tabs span{
  font-size: 1.3rem;
  color: gold !important;
  

}
.mobile {
  display: none;
}
/* for IPad Pro */
@media only screen and (max-width: 1200px) {
  .content {
    justify-content: space-between;
    padding: 10px 5px;
  }
  .container {
    padding: 5px;
  }
}
/* for below 955px */
@media only screen and (max-width: 955px) {
  .address p {
    font-size: 1rem;
  }
  .tabs span{
    font-size: 1rem;
  }
  .content {
    justify-content: space-around;
    padding: 10px 20px;
  }
}
/* for smaller devices */
@media only screen and (max-width: 768px) {
  .mobile  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .content {
    display: none !important;
  }
  .address {
    display: flex;
  }
  .addressText {
    margin-left: 20px;
  }
  .phoneText {
    margin-left: 30px;
  }
  .mobile a {
    color: gold;
    text-decoration: underline;
  }
  .mobile > div {
    margin-bottom: 10px;
  }
  .address span, p {
    font-size: 1rem !important;
    font-family: 'Chivo';
  }
}

