.container {
  background-color: #e7e5d9;
  padding: 20px;
  color: #e1c2b0;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #e7e5d9;
  padding: 20px 100px;
  color: #e1c2b0;
}
.address a {
  color: #e1c2b0;
  text-decoration: none;
  font-weight: 700;
}

.mobile {
  display: none;
}
/* for IPad Pro */
@media only screen and (max-width: 1200px) {
  .content {
    justify-content: space-between;
    padding: 10px 5px;
  }
  .container {
    padding: 5px;
  }
}
/* for below 955px */
@media only screen and (max-width: 955px) {
  .address p {
    font-size: 1rem;
  }
  .tabs span{
    font-size: 1rem;
  }
  .content {
    justify-content: space-around;
    padding: 10px 20px;
  }
}
/* for smaller devices */
@media only screen and (max-width: 768px) {
  .mobile  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .content {
    display: none !important;
  }
  .address {
    display: flex;
  }
  .addressText {
    margin-left: 20px;
  }
  .phoneText {
    margin-left: 30px;
  }
  .mobile a {
    color: #e1c2b0;
    text-decoration: underline;
  }
  .mobile > div {
    margin-bottom: 10px;
  }
  .address span, p {
    font-size: 1rem !important;
    font-family: 'Chivo';
  }
}

