.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  color: whitesmoke;

}
.container>a {
  color: whitesmoke;
  text-decoration: underline;
}
.phone>h1 {
  color: darkblue;
}
.container>h3 {
 padding-left: 20px;
}
.first {
  margin-top: -10px;
}
.second {
  margin-top: -16px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 10px 0;
    padding: 4px;
    justify-content: space-evenly;
  }
  .container h1, h2 {
    padding-left: 20px;
  }
  .container h3 {
    padding-left: 50px;
  }
}